[Unit]
Description=ws2811 driver
Documentation=https://github.com/izaakschroeder/ws2811
After=network.target

[Service]
User=ws2811
Group=ws2811
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/node dist/server
WorkingDirectory=/opt/ws2811
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
